---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import * as IntroPost from '../content/intro.md';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<IntroPost.Content />
			<hr />
			<div class="container">
				Subscribe via <a href="https://debuggingfuture.com/atom.xml">RSS/Atom</a> or substack
				<iframe src="https://debuggingfuture.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
			</div>
		</main>
		
	
		<Footer />
	</body>
</html>
