---
import SiteLayout from "../layouts/SiteLayout.astro";
import SubstackWidget from "../components/SubstackWidget.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import * as IntroPost from "../content/intro.md";
---

<SiteLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<h1>@debuggingfuture</h1>
	<IntroPost.Content />
	<hr />
	<div class="container">
		Subscribe via <a href="https://debuggingfuture.com/atom.xml">RSS/Atom</a> or substack
		<SubstackWidget />
	</div>
</SiteLayout>
