// write you own style here
#navbar
  display: flex;
.tags
  display: flex;
  width: 100%;
  list-style-type: none;0em
  li
    flex: auto;
article
  .container
    font-size: 1em
    text-underline-offset: 4px;

@media only screen and (min-width: 1280px)
  article
    .container
      font-size: 1.3em

.video-container
  margin-top: 2em;
  margin-bottom: 2em;

p:lang(en)
    font-size: 1.2em;
    line-height: 1.2em;
    font-family: 'Helvetica Neue'
    font-weight:500;

p
  font-weight 500;
  margin-bottom: 0rem;

p:has(> img)
  text-align: center;
img
  padding-bottom: 0rem;
strong
  font-weight: 900;
a
  color black
  &:hover, &:focus
    color gray-dark
  &:visited, &:link
    color #4d4d4d
    text-decoration-thickness: from-font;
a img
  &:hover, &:focus
    cursor zoom-in
hr
  margin-top: 4rem
  margin-bottom: 4rem
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  text-align: center;


hr:after
  content: "‧‧‧";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;

blockquote
  margin-top: 1rem
  p:last-child
    margin-top: 0em
